<h1>Edit Kitten</h1>

<%= render "form", kitten: @kitten %>
<br>
<%= link_to "Delete", kitten_path(@kitten.id), data: {
															turbo_method: :delete,
															turbo_confirm: "Are you sure?"
														} %>
