<h1>Kittens</h1>

<% unless @kittens.empty? %>
	<ul>
		<% @kittens.each do |kitten| %>
			<li>
			<%= link_to kitten.name, kitten_path(kitten.id)  %>
			<br>
			<%= link_to "Delete", kitten_path(kitten.id), data: {
															turbo_method: :delete,
															turbo_confirm: "Are you sure?"
														} %>
			</li>
		<% end %>
	</ul>
<% end %>